.innovent-team-1{ padding-top: 80px; padding-bottom: 80px; }
.flag{ height:12px; width: 16px; display: inline-block; background-size: cover; margin-top: 15px;margin:0 5px;}
.flag-germany{ background-image: url("./flags/germany.png");}
.flag-france{ background-image: url("./flags/france.png");}
.flag-belgium{ background-image: url("./flags/belgium.png");}
.flag-spain{ background-image: url("./flags/spain.png");}
.flag-uk{ background-image: url("./flags/uk.png");}
.flag-english{ background-image: url("./flags/english.png");}
.profile-image{max-height: 300px; max-width: 300px;}