.innovent-timeline-1 { padding-top: 80px; padding-bottom: 80px; }
.innovent-timeline-1 .btn{ margin : 2rem 0; }

/*
	Timeline
*/
.innovent-timeline-1 .timeline {list-style: none;padding: 20px 0 20px;position: relative;}
.innovent-timeline-1 .timeline:before {top: 0;bottom: 0;position: absolute;content: " ";width: 3px;background-color: #eeeeee;left: 50%;margin-left: -1.5px;}
.innovent-timeline-1 .timeline > li {margin-bottom: 20px;position: relative;}
.innovent-timeline-1 .timeline > li:before,.timeline > li:after {content: " ";display: table;}
.innovent-timeline-1 .timeline > li:after {clear: both;}
.innovent-timeline-1 .timeline > li:before,.timeline > li:after {content: " ";display: table;}
.innovent-timeline-1 .timeline > li:after {clear: both;}
.innovent-timeline-1 .timeline > li > .timeline-panel {width: 46%;float: left;border: 1px solid #d4d4d4;border-radius: 2px;padding: 20px;position: relative;-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);}
.innovent-timeline-1 .timeline > li > .timeline-panel:before {position: absolute;top: 26px;right: -15px;display: inline-block;border-top: 15px solid transparent;border-left: 15px solid #ccc;border-right: 0 solid #ccc;border-bottom: 15px solid transparent;content: " ";}
.innovent-timeline-1 .timeline > li > .timeline-panel:after {position: absolute;top: 27px;right: -14px;display: inline-block;border-top: 14px solid transparent;border-left: 14px solid #fff;border-right: 0 solid #fff;border-bottom: 14px solid transparent;content: " ";}
.innovent-timeline-1 .timeline > li > .timeline-badge {color: #fff;width: 50px;height: 50px;line-height: 50px;font-size: 1.4em;text-align: center;position: absolute;top: 16px;left: 50%;margin-left: -25px;background-color: #999999;z-index: 100;border-top-right-radius: 50%;border-top-left-radius: 50%;border-bottom-right-radius: 50%;border-bottom-left-radius: 50%;}
.innovent-timeline-1 .timeline > li.timeline-inverted > .timeline-panel {float: right;}
.innovent-timeline-1 .timeline > li.timeline-inverted > .timeline-panel:before {border-left-width: 0;border-right-width: 15px;left: -15px;right: auto;}
.innovent-timeline-1 .timeline > li.timeline-inverted > .timeline-panel:after {border-left-width: 0;border-right-width: 14px;left: -14px;right: auto;}
.innovent-timeline-1 .timeline-badge.primary {background-color: #2e6da4 !important;}
.innovent-timeline-1 .timeline-badge.success {background-color: #3f903f !important;}
.innovent-timeline-1 .timeline-badge.warning {background-color: #f0ad4e !important;}
.innovent-timeline-1 .timeline-badge.danger {background-color: #d9534f !important;}
.innovent-timeline-1 .timeline-badge.info {background-color: #5bc0de !important;}
.innovent-timeline-1 .timeline-title {margin-top: 0;color: inherit;}
.innovent-timeline-1 .timeline-body > p,.innovent-timeline-1 .timeline-body > ul {margin-bottom: 0;}
.innovent-timeline-1 .timeline-body > p + p {margin-top: 5px;}

@media (max-width: 767px) {
    .innovent-timeline-1 ul.timeline:before {left: 40px;}
	.innovent-timeline-1 ul.timeline > li > .timeline-panel {width: calc(100% - 90px);width: -moz-calc(100% - 90px);width: -webkit-calc(100% - 90px);}
	.innovent-timeline-1 ul.timeline > li > .timeline-badge {left: 15px;margin-left: 0;top: 16px;}
	.innovent-timeline-1 ul.timeline > li > .timeline-panel {float: right;}
	.innovent-timeline-1 ul.timeline > li > .timeline-panel:before {border-left-width: 0;border-right-width: 15px;left: -15px;right: auto;}
	.innovent-timeline-1 ul.timeline > li > .timeline-panel:after {border-left-width: 0;border-right-width: 14px;left: -14px;right: auto;}
}
