.innovent-team-2 { padding-top: 80px; padding-bottom: 80px; }
.innovent-team-2 .member-image{margin-top:15px;}
.innovent-team-2 .member-description{margin-top:15px;}

@media screen and (min-width: 768px) {
	.innovent-team-2 .col-sm-pull-4 blockquote {
		border-left: none;
		border-right: 5px solid #eeeeee;
		text-align: right;
	}
}