/* Timeline */
.innovent-timeline-3 .timeline,.innovent-timeline-3 .timeline-horizontal {list-style: none;padding: 20px;position: relative;}

.innovent-timeline-3 .timeline:before {top: 40px;bottom: 0;position: absolute;content: " ";width: 3px;left: 50%;margin-left: -1.5px;}
.innovent-timeline-3 .timeline .timeline-item {margin-bottom: 20px;position: relative;}
.innovent-timeline-3 .timeline .timeline-item:before,.innovent-timeline-3 .timeline .timeline-item:after {content: "";display: table;}
.innovent-timeline-3 .timeline .timeline-item:after {clear: both;}
.innovent-timeline-3 .timeline .timeline-item .timeline-badge {color: #fff;width: 54px;height: 54px;line-height: 52px;font-size: 22px;text-align: center;position: absolute;top: 18px;left: 50%;margin-left: -25px;background-color: #7c7c7c;box-shadow: 0 0 5px #7c7c7c;border: 3px solid #7c7c7c;z-index: 100;border-top-right-radius: 50%;border-top-left-radius: 50%;border-bottom-right-radius: 50%;border-bottom-left-radius: 50%;}
.innovent-timeline-3 .timeline .timeline-item .timeline-badge i,.innovent-timeline-3 .timeline .timeline-item .timeline-badge .fa {top: 2px;left: 0px;}
.innovent-timeline-3 .timeline .timeline-item .timeline-badge.primary {background-color: #1f9eba;box-shadow: 0 0 5px #1f9eba;border-color: #1f9eba;}
.innovent-timeline-3 .timeline .timeline-item .timeline-badge.info {background-color: #5bc0de;box-shadow: 0 0 5px #5bc0de;border-color: #5bc0de;}
.innovent-timeline-3 .timeline .timeline-item .timeline-badge.success {background-color: #59ba1f;box-shadow: 0 0 5px #59ba1f;border-color: #59ba1f;}
.innovent-timeline-3 .timeline .timeline-item .timeline-badge.warning {background-color: #d1bd10;box-shadow: 0 0 5px #d1bd10;border-color: #d1bd10;}
.innovent-timeline-3 .timeline .timeline-item .timeline-badge.danger {background-color: #ba1f1f;box-shadow: 0 0 5px #ba1f1f;border-color: #ba1f1f;}
.innovent-timeline-3 .timeline .timeline-item .timeline-panel {position: relative;width: 46%;float: left;right: 16px;border: 1px solid #c0c0c0;border-radius: 2px;padding: 20px;-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);}
.innovent-timeline-3 .timeline .timeline-item .timeline-panel:before {position: absolute;top: 26px;right: -16px;display: inline-block;border-top: 16px solid transparent;border-left: 16px solid #c0c0c0;border-right: 0 solid #c0c0c0;border-bottom: 16px solid transparent;content: " ";}
.innovent-timeline-3 .timeline .timeline-item .timeline-panel .timeline-title {margin-top: 0;}
.innovent-timeline-3 .timeline .timeline-item .timeline-panel .timeline-body > p,.innovent-timeline-3 .timeline .timeline-item .timeline-panel .timeline-body > ul {margin-bottom: 0;}
.innovent-timeline-3 .timeline .timeline-item .timeline-panel .timeline-body > p + p {margin-top: 5px;}
.innovent-timeline-3 .timeline .timeline-item:last-child:nth-child(even) {float: right;}
.innovent-timeline-3 .timeline .timeline-item:nth-child(even) .timeline-panel {float: right;left: 16px;}
.innovent-timeline-3 .timeline .timeline-item:nth-child(even) .timeline-panel:before {border-left-width: 0;border-right-width: 14px;left: -14px;right: auto;}

.innovent-timeline-3 .timeline-horizontal {list-style: none;position: relative;padding: 20px 0px 20px 0px;display: inline-block;}
.innovent-timeline-3 .timeline-horizontal:before {height: 3px;top: auto;bottom: 26px;left: 56px;right: 0;width: 100%;margin-bottom: 20px;}
.innovent-timeline-3 .timeline-horizontal .timeline-item {display: table-cell;height: 280px;width: 20%;min-width: 320px;float: none !important;padding-left: 0px;padding-right: 20px;margin: 0 auto;vertical-align: bottom;}
.innovent-timeline-3 .timeline-horizontal .timeline-item .timeline-panel {top: auto;bottom: 64px;display: inline-block;float: none !important;left: 0 !important;right: 0 !important;width: 100%;margin-bottom: 20px;}
.innovent-timeline-3 .timeline-horizontal .timeline-item .timeline-panel:before {top: auto;bottom: -16px;left: 28px !important;right: auto;border-right: 16px solid transparent !important;border-top: 16px solid #c0c0c0 !important;border-bottom: 0 solid #c0c0c0 !important;border-left: 16px solid transparent !important;}
.innovent-timeline-3 .timeline-horizontal .timeline-item:before,.innovent-timeline-3 .timeline-horizontal .timeline-item:after {display: none;}
.innovent-timeline-3 .timeline-horizontal .timeline-item .timeline-badge {top: auto;bottom: 0px;left: 43px;}
.innovent-timeline-3 .timeline-horizontal .timeline-item .timeline-badge-img {object-fit:cover;}