.innovent-timeline-2{overflow: hidden;}
.innovent-timeline-2 .timeline {position: relative;padding:4px 0 0 0;margin-top:22px;list-style: none;}
.innovent-timeline-2 .timeline>li:nth-child(even) {position: relative;margin-bottom: 50px;height: 180px;right:-100px;width:auto;}
.innovent-timeline-2 .timeline>li:nth-child(odd) {position: relative;margin-bottom: 50px;height: 180px;left:-100px;}
.innovent-timeline-2 .timeline>li:before,.timeline>li:after {content: " ";display: table;}
.innovent-timeline-2 .timeline>li:after {clear: both;min-height: 170px;}
.innovent-timeline-2 .timeline > li .timeline-panel {position: relative;float: left;width: 41%;padding: 0 20px 20px 30px;text-align: right;}
.innovent-timeline-2 .timeline>li .timeline-panel:before {right: auto;left: -15px;border-right-width: 15px;border-left-width: 0;}
.innovent-timeline-2 .timeline>li .timeline-panel:after {right: auto;left: -14px;border-right-width: 14px;border-left-width: 0;}
.innovent-timeline-2 .timeline>li .timeline-image {z-index: 100;position: absolute;left: 50%;border: 7px solid #3b5998;border-radius: 100%;background-color: #3b5998;width: 150px;height: 150px;margin-left: -90px;display:block;object-fit:cover;}
.innovent-timeline-2 .timeline>li .timeline-image h4 {margin-top: 12px;font-size: 10px;line-height: 14px;}
.innovent-timeline-2 .timeline>li.timeline-inverted>.timeline-panel {float: right;padding: 0 30px 20px 10px;text-align: left;}
.innovent-timeline-2 .timeline>li.timeline-inverted>.timeline-panel:before {right: auto;left: -15px;border-right-width: 15px;border-left-width: 0;}
.innovent-timeline-2 .timeline>li.timeline-inverted>.timeline-panel:after {right: auto;left: -14px;border-right-width: 14px;border-left-width: 0;}
.innovent-timeline-2 .timeline>li:last-child {margin-bottom: 0;}
.innovent-timeline-2 .timeline .timeline-heading h4 {margin-top:22px;margin-bottom: 4px;padding:0;color: #b3b3b3;}
.innovent-timeline-2 .timeline .timeline-heading h4.subheading {margin:0;padding:0;text-transform: none;font-size:18px;color:#333333;}
.innovent-timeline-2 .timeline .timeline-body>p,.innovent-timeline-2 .timeline .timeline-body>ul {margin-bottom: 0;color:#808080;}

/*Style for even div.line*/
.innovent-timeline-2 .timeline>li:nth-child(odd) .line:before {content: "";position: absolute;top: 60px;bottom: 0;left: 690px;width: 4px;height:340px;background-color: #3b5998;-ms-transform: rotate(-39deg); /* IE 9 */-webkit-transform: rotate(-39deg); /* Safari */transform: rotate(-39deg);}

/*Style for odd div.line*/
.innovent-timeline-2 .timeline>li:nth-child(even) .line:before {content: "";position: absolute;top: 60px;bottom: 0;left: 450px;width: 4px;height:340px;background-color: #3b5998;-ms-transform: rotate(49deg); /* IE 9 */-webkit-transform: rotate(49deg); /* Safari */transform: rotate(39deg);}

/* Medium Devices, .visible-md-* */
@media (min-width: 992px) and (max-width: 1199px) {
	.innovent-timeline-2 .timeline > li:nth-child(even) {margin-bottom: 0;min-height: 0;right: 0;}
	.innovent-timeline-2 .timeline > li:nth-child(odd) {margin-bottom: 0;min-height: 0;left: 0;}
	.innovent-timeline-2 .timeline>li:nth-child(even) .timeline-image {left: 0;margin-left: 0;}
	.innovent-timeline-2 .timeline>li:nth-child(odd) .timeline-image {left: 690px;margin-left: 0;}
	.innovent-timeline-2 .timeline > li:nth-child(even) .timeline-panel {width: 76%;padding: 0 0 20px 0;text-align: left;}
	.innovent-timeline-2 .timeline > li:nth-child(odd) .timeline-panel {width: 70%;padding: 0 0 20px 0;text-align: right;}
	.innovent-timeline-2 .timeline > li .line {display: none;}
}

/* Small Devices, Tablets */
@media (min-width: 768px) and (max-width: 991px) {
	.innovent-timeline-2 .timeline > li:nth-child(even) {margin-bottom: 0;min-height: 0;right: 0;}
	.innovent-timeline-2 .timeline > li:nth-child(odd) {margin-bottom: 0;min-height: 0;left: 0;}
	.innovent-timeline-2 .timeline>li:nth-child(even) .timeline-image {left: 0;margin-left: 0;}
	.innovent-timeline-2 .timeline>li:nth-child(odd) .timeline-image {left: 520px;margin-left: 0;}
	.innovent-timeline-2 .timeline > li:nth-child(even) .timeline-panel {width: 70%;padding: 0 0 20px 0;text-align: left;}
	.innovent-timeline-2 .timeline > li:nth-child(odd) .timeline-panel {width: 70%;padding: 0 0 20px 0;text-align: right;}
	.innovent-timeline-2 .timeline > li .line {display: none;}
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 767px) {
	.innovent-timeline-2 .timeline > li:nth-child(even) {margin-bottom: 0;min-height: 0;right: 0;}
	.innovent-timeline-2 .timeline > li:nth-child(odd) {margin-bottom: 0;min-height: 0;left: 0;}
	.innovent-timeline-2 .timeline>li .timeline-image {position: static;width: 150px;height: 150px;margin-bottom:0px;}
	.innovent-timeline-2 .timeline>li:nth-child(even) .timeline-image {clear:both; left: 0;margin-left: 0;}
	.innovent-timeline-2 .timeline>li:nth-child(odd) .timeline-image {float:right;left: 0;margin-left:0;}
	.innovent-timeline-2 .timeline > li:nth-child(even) .timeline-panel {width: 100%;padding: 0 0 20px 14px;}
	.innovent-timeline-2 .timeline > li:nth-child(odd) .timeline-panel {width: 100%;padding: 0 14px 20px 0;}
	.innovent-timeline-2 .timeline > li .line {display: none;}
}