/*
	Section
*/
.innovent-header-1{ padding: 0; text-align: center; }
.innovent-header-1-container{ padding: 60px 0;}
.innovent-header-1-container .row{margin-left: 0;margin-right: 0;}
.innovent-header-1 .navbar{border-bottom: 2px solid #555;}

/* 
	Multilingual
*/
.language-container {display: inline-block !important;}
.language-container > a{padding: 15px 2px !important;}
.language{height:12px; width: 16px; display: inline-block; background-size: cover;}
.language-german{background-image: url("./languages/german.png")}
.language-english{background-image: url("./languages/english.png")}
.language-french{background-image: url("./languages/french.png")}
.language-belgian{background-image: url("./languages/belgian.png")}
.language-spanish{background-image: url("./languages/spanish.png")}
.language-suomi{background-image: url("./languages/suomi.png")}

/*
	Button
*/
.innovent-header-1 .btn{ 
	margin: 2em 0; border-radius: 0px; 
	-webkit-transition : all 0.2s linear;
	-moz-transition : all 0.2s linear;
	transition : all 0.2s linear;
}

/*
	Utilites
*/
.pad-right-big{ padding-right: 0; }
.img-responsive { display: inline-block; }
.innovent-header-1-logo{max-height: 36px;}

@media (min-width: 768px){
	.innovent-header-1 {text-align: left; }
	.innovent-header-1 .section-title { margin: 0 0 0.5em 0; }
	.btn-row .btn { margin-right: 10px;}

	.title-sm{ font-size: 2.5em; line-height: 1.3em; }

	.pad-right-big{ padding-right: 60px; }
	.img-responsive{ display: block; }
	.innovent-header-1-logo{max-height: 42px;}
}